.comic_principal_ltsx {
    width: 100%;
    display: table;
    padding-bottom: 40px;
    background-image: url('../../../assets/img/fondo_comics.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.portada_comic {
    width: 100%;
}

.margen_container_comic {
    margin-top: 40px;
}

.tarjeta_caracteristicas {
    cursor: pointer;
    transition: transform .2s;
}

.tarjeta_caracteristicas:hover {
    transform: scale(0.9);
}

.img_tamano_desktop {
    height: 434px;
}

.fondo_tarjeta {
    background-color: #000000;
    /* height: 128px; */
    /* display: flex; */
    align-items: center;
    text-align: center;
}

.color_titulo_comic {
    color: #fff;
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
    font-size: 18px;
}

.bajar_contenedor_select {
    margin-top: 40px;
}

.texto_indicador {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 0px 20px 21px 20px;
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
}

.contenedor_select_comics {
    width: 100%;
    display: table;
    background-color: #00000094;
    background-size: 100%;
    color: #fff;
}

.contenedor_select {
    margin: 18px 20px;
}

select {
    font-family: 'Comic Neue', cursive;
    font-size: 22px;
    background-color: #f2f2f2;
    color: #000;
}

.boton_busqueda_comic {
    width: 9%;
    margin: 15px 0px 20px 23px;
    background-color: #e72127;
    border: none;
}

.texto_informativo {
    font-family: 'Comic Neue', cursive;
    font-size: 21px;
    margin-bottom: 6px;
}

.alerta_informcion {
    margin-top: 30px;
    padding: 30px;
    max-width: 900px;
    margin: auto;
    font-family: 'Comic Neue', cursive;
}

.alerta_informcion p {
    font-size: 20px;
}

.destacar_letra {
    font-size: 25px;
}

.card {
    border: none;
}

@media(max-width:650px) {
    .contenedor_select_comics {
        margin-top: 24px;
    }
    .texto_indicador {
        font-size: 21px;
        padding: 29px 20px 36px 20px !important;
        line-height: 29px;
    }
    label.texto_informativo {
        line-height: 22px;
        font-size: 20px;
        margin-bottom: 11px;
    }
    button.btn.btn-primary.boton_busqueda_comic {
        width: 89%;
        margin: 10px 0px 41px 19px;
        font-size: 18px;
    }
    .card {
        display: table;
        /* text-align: center; */
        margin: auto;
    }
}

@media(max-width:385px) {

    .texto_indicador{
        font-size: 18px;
        padding: 29px 20px 36px 20px !important;
        line-height: 25px;
    }

    select{
        font-family: 'Comic Neue', cursive;
        font-size: 18px;
    }

    .contenedor_select_comics {
        margin-top: 16px;
    }
}

@media(max-width:365px) {

    label.texto_informativo{
        line-height: 20px;
        font-size: 17px;
    }

    button.btn.btn-primary.boton_busqueda_comic{
        width: 89%;
        margin: 8px 0px 41px 19px;
        font-size: 17px;
    }
    
    .texto_indicador{
        font-size: 16px;
        padding: 29px 20px 36px 20px !important;
        line-height: 22px;
    }


    .texto_indicador {
        font-size: 18px;
        padding: 29px 20px 36px 20px !important;
        line-height: 22px;
    }
    label.texto_informativo {
        line-height: 20px;
        font-size: 18px;
        margin-bottom: 11px;
    }
    select.form-select.ng-untouched {
        font-size: 18px;
    }
}

@media(max-width:345px) {
    .texto_indicador {
        font-size: 18px;
        padding: 29px 9px 36px 9px !important;
        line-height: 22px;
    }
    button.btn.btn-primary.boton_busqueda_comic {
        width: 89%;
        margin: 10px 0px 41px 19px;
        font-size: 16px;
    }
}