<div class="header_menu_marvel">

    <div class="menu_btn esconder_mobile">Menu</div>

    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Marvel_Logo.svg/2560px-Marvel_Logo.png" class="logo_marvel" />

    <div class="conetenedor_menu_marvel ocultar_menu">
        <ul>
            <li>
                <a class="botones_ltsx" [routerLink]=" ['/home'] ">   HOME</a>
                <a class="botones_ltsx" [routerLink]=" ['/comics'] "> COMICS</a>
                <a class="botones_ltsx" [routerLink]=" ['/series'] "> SERIES-COMIC</a>
                <a class="botones_ltsx" [routerLink]=" ['/lanzamientos'] "> NUEVOS LANZAMIENTOS</a>
                <a class="botones_ltsx" [routerLink]=" ['/juegos'] "> JUEGOS</a>
                <a class="botones_ltsx" [routerLink]=" ['/peliculas'] "> PELICULAS</a>
                <a class="botones_ltsx" [routerLink]=" ['/tv'] "> SERIES TV</a>
                <!--<a class="botones_ltsx cerrar_session ocultar_menu" (click)="cerrarSesion()"> CERRAR SESION</a>-->
            </li>
        </ul>
    </div>
</div>