/* You can add global styles to this file, and also import other style files */

.colocar_margin_bottom{

    padding-bottom: 50px;
}

@media(max-width:650px) {
    h1.titulo_juegos {
        font-size: 17px !important;
        text-align: center !important;
        margin-top: 74px !important;
        margin-bottom: 20px !important;
    }
    .tarjeta_mobile {
        padding: 0px 30px;
    }
    .video_juego_ltsx {
        margin: auto !important;
        width: 100% !important;
        height: 229px !important;
    }
    .cerrar_video {
        color: #fff;
        position: absolute;
        right: 0;
        cursor: pointer;
        top: 60px;
        font-size: 40px;
        left: 0px;
        margin: auto;
        width: 100%;
        text-align: center;
    }
    .titulo {
        font-size: 25px !important;
        text-align: center !important;
        padding: 20px 40px !important;
        line-height: 32px !important;
    }
    .tarjeta_mobile {
        padding: 0px 30px !important;
    }
}